@model IEnumerable<ApoioMVC.MODEL.Professor>

@{
    ViewBag.Title = "Professor";
}

<h2>Professor</h2>

<p>
    @Html.ActionLink("Adicionar Professor", "Create", 0, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover">

    <tr class="hidden-xs hidden-sm">
        <th>
            <div class="col-md-8 col-xs-8">
                @Html.DisplayNameFor(model => model.Nome)
            </div>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="col-md-8 col-xs-8">
                    <b class="hidden-md hidden-lg">
                        @Html.DisplayNameFor(model => model.Nome)
                    </b>@Html.DisplayFor(modelItem => item.Nome)
                </div>
                <div class="col-md-4 col-xs-8">
                  
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                 
                </div>
            </td>


        </tr>
    }

</table>

